[run]
source = src/
omit = */tests/*, */venv/*, */env/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError

precision = 2
show_missing = True
skip_empty = True