SECRET_KEY=
DEBUG=

# postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#STRIPE
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=

# Redis / Celery
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_RESULT_DB=1